* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-700: #323238;
  --gray-850: #1f2729;
  --gray-800: #29292e;
  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-500: #eba417;
}

@media(max-width: 1080px) { // tamanho mais ou menos de um Ipad
  html {
    font-size: 93.75%; // 15px
  }
}

@media(max-width: 720px) { // tamanho mobile
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif; // font-size de 1rem usa o font-size da aplicação para definir o tamanho das fontes como o todo.
}

button {
  cursor: pointer;
}

a {
  color: inherit; // assume a cor do elemento pai.
  text-decoration: none;
}